* {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;

}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

header {
    font-size: 30px;
    color: white;
    text-align: center;
    width: 100%;
}

header > img {
     width: 25%;
    height: 10%;  
}
li > img{
    width: 150px;
    border-radius: 10px;
    border: solid 2px black;
}
ul {
    margin-bottom: 50px;
    margin-top: 50px;
    width: 1000px;
    color: #808080;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


ul > li > img > p:hover {
    border: solid 2px white;
    color: white;
}

button {
    padding: 6px;
    color: white;
    width: 120px;
    height: 40px;
    border: solid 2px;
    border-radius: 10px;
    align-items: center;
}

button:hover{
    border: solid 2px gray;
    align-items: center;
}

footer{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}